$color-dominant: hsl(265, 35%, 7%);
$color-complement: hsl(0, 0%, 80%);
$color-accent: hsl(140, 80%, 40%);

$color-text_dark: hsl(0, 0%, 90%);
$color-text_light: hsl(0, 0%, 10%);
$color-text_neutral: hsl(0, 0%, 50%);